
<script src="../../academics-master/js/bootstrap.min.js"></script>
<script src="../../academics-master/js/main.js"></script>
<link href="../../academics-master/css/style.css" rel="stylesheet" />

<div class="container" style="position:relative">
    <div class="content">
        <video src="https://www.yu.edu.jo/images/video/yuWeb.mp4" type="video/mp4" muted autoplay loop style=" width: 100vw;
  height: 80vh;
  object-fit: cover; position:relative;
    z-index:0;margin-left:-20%"> </video>

        <div class="overlay" style="position:absolute;
                     top:30%;
                     left:20%;
                     z-index:1;">


            <a href="/Account/Login">    <img src="https://www.yu.edu.jo/images/adminsis-logo.png" style="width: 150px; height: 150px; border-radius: 12px; margin-top: 60%; margin-left: 0px; margin-top: 160px " /> </a>
            <a href="/Account/Login">    <img src="https://www.yu.edu.jo/images/moodle-logo.png" style="width: 150px; height: 150px; border-radius: 12px; margin-top:180px ; margin-left:60px" /> </a>
            <a href="/Home/contactUS">    <img src="https://www.yu.edu.jo/images/email-logo.png" style="width: 150px; height: 150px; border-radius: 12px; margin-top: 180px; margin-left: 60px" /> </a>
            <a href="https://www.yu.edu.jo/images/docs/University_Calendar_for_the_Academic_Year_2023.pdf">    <img src="https://www.yu.edu.jo/images/calendar-logo.png" style="width: 150px; height: 150px; border-radius: 12px; margin-top: 180px; margin-left: 60px" /> </a>


        </div>
    </div>
</div>




<div></div>

<div class="site-section">
    <div class="container">
        <div class="row mb-5 justify-content-center text-center">
            <div class="col-lg-4 mb-5">
                <h2 class="section-title-underline mb-5">
                    <span>The thing that distinguishes us</span>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">

                <div class="feature-1 border">
                    <div class="icon-wrapper bg-primary">
                        <span class="flaticon-mortarboard text-white"></span>
                    </div>
                    <div class="feature-1-content">
                        <h2>Personalize Learning</h2>
                        <p>We depending on Online Learning More and More</p>
                        <p><a href="#" class="btn btn-primary px-4 rounded-0">Learn More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="feature-1 border">
                    <div class="icon-wrapper bg-primary">
                        <span class="flaticon-school-material text-white"></span>
                    </div>
                    <div class="feature-1-content">
                        <h2>Transportation Insurance</h2>
                        <p> We offer Transportation  , To gain your Trusted </p>
                        <p><a href="#" class="btn btn-primary px-4 rounded-0">Learn More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="feature-1 border">
                    <div class="icon-wrapper bg-primary">
                        <span class="flaticon-library text-white"></span>
                    </div>
                    <div class="feature-1-content">
                        <h2>appropriate laboratories</h2>
                        <p>We offer Laboratories , to  offer technical students to the Society.</p>
                        <p><a href="#" class="btn btn-primary px-4 rounded-0">Learn More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!--<div class="site-section">
    <div class="container">


        <div class="row mb-5 justify-content-center text-center">
            <div class="col-lg-6 mb-5">
                <h2 class="section-title-underline mb-3">
                    <span>Popular Courses</span>
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, id?</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div id="collage">


                </div>

            </div>
        </div>



    </div>
</div>-->

<div class="site-section">
    <div class="container">
        <div style="text-align:center">
            <h2 class="section-title-underline mb-3">
                <span>Faculties</span>
            </h2>

        </div>
        <div class="row" id="collage">

        </div>
    </div>
</div>


<div class="section-bg style-1" style="background-image: url('images/about_1.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2 class="section-title-underline style-2">
                    <span>About Our University</span>
                </h2>
            </div>
            <div class="col-lg-8">
                <p>Developing competencies in various fields of science and knowledge through providing distinguished education and producing of innovative scientific research that serves the community and contributes to building a knowledge economy by creating a university environment that stimulates creativity, through freedom of expression and responding to the demands of society and scientific development.</p>
                <p><a href="#">Read more</a></p>
            </div>
        </div>
    </div>
</div>

<!-- // 05 - Block -->
<div class="news-updates">
    <div class="container">

        <div class="row">
            <div class="col-lg-9">
                <div class="section-heading">
                    <h2 class="text-black">News &amp; Updates</h2>
                  
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="post-entry-big">
                            <a href="news-single.html" class="img-link"><img src="..\\academics-master\\images\\blog_large_1.jpeg" alt="Image" class="img-fluid"></a>
                            <div class="post-content">
                                <div class="post-meta">
                                    <a href="#">21 February 2023</a>
                                    <span class="mx-1">/</span>
                                 
                                </div>
                                <h3 class="post-heading"><a href="https://www.yu.edu.jo/index.php/en/newsen/4174-yarmouk-university-receives-the-excellent-student-chapter-award-from-the-american-concrete-institute">Yarmouk University Receives the Excellent Student Chapter Award from the American Concrete Institute</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="post-entry-big horizontal d-flex mb-4">
                            <a href="news-single.html" class="img-link mr-4"><img src="..\\academics-master\\images\\blog_1.jpeg" alt="Image" class="img-fluid"></a>
                            <div class="post-content">
                                <div class="post-meta">
                                    <a href="#">June 6, 2019</a>
                                    <span class="mx-1">/</span>
                                 
                                </div>
                                <h3 class="post-heading"><a href="https://www.yu.edu.jo/index.php/en/newsen/4173-yarmouk-media-won-the-third-place-in-the-media-competition-they-dealt-with-my-topic-objectivelyl">"Yarmouk Media" Won the Third Place in the Media Competition "They Dealt with My Topic Objectively"n</a></h3>
                            </div>
                        </div>

                        <div class="post-entry-big horizontal d-flex mb-4">
                            <a href="https://www.yu.edu.jo/index.php/en/newsen/4173-yarmouk-media-won-the-third-place-in-the-media-competition-they-dealt-with-my-topic-objectively" class="img-link mr-4"><img src="..\\academics-master\\images\\blog_2.jpeg" alt="Image" class="img-fluid"></a>
                            <div class="post-content">
                                <div class="post-meta">
                                    <a href="#"> 01 February 2023</a>
                                    <span class="mx-1">/</span>
                                  
                                </div>
                                <h3 class="post-heading"><a href="https://www.yu.edu.jo/index.php/en/newsen/4112-a-delegation-from-the-royal-air-force-women-s-club-visits-yarmouk">A Delegation from the Royal Air Force Women’s Club Visits Yarmouk</a></h3>
                            </div>
                        </div>

                        <div class="post-entry-big horizontal d-flex mb-4">
                            <a href="news-single.html" class="img-link mr-4"><img src="..\\academics-master\\images\\blog_1.jpeg" alt="Image" class="img-fluid"></a>
                            <div class="post-content">
                                <div class="post-meta">
                                    <a href="#">June 6, 2019</a>
                                    <span class="mx-1">/</span>
                                   
                                </div>
                                <h3 class="post-heading"><a href="https://www.yu.edu.jo/index.php/en/newsen/4139-yarmouk-pharmacy-obtains-the-acpe-2">Yarmouk Pharmacy Obtains the ACPE</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="section-heading">
                    <h2 class="text-black">Yarmouk Videos</h2>
                    <a href="#">View All Videos</a>
                </div>
                <a href="https://www.youtube.com/watch?v=6mIOzma6AiY" class="video-1 mb-4" data-fancybox="" data-ratio="2">
                    <span class="play">
                        <span class="icon-play"></span>
                    </span>
                    <img src="..\\academics-master\\images\\13.jpg" alt="Image" class="img-fluid">
                </a>
                <a href="https://www.youtube.com/watch?v=6mIOzma6AiY" class="video-1 mb-4" data-fancybox="" data-ratio="2">
                    <span class="play">
                        F
                        <span class="icon-play"></span>
                    </span>
                    <img src="..\\academics-master\\images\\12.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</div>


<div class="section-bg style-1" style="background-image: url('images/hero_1.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <span class="icon flaticon-mortarboard"></span>
                <h3>Our Philosphy</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea? Dolore, amet reprehenderit.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <span class="icon flaticon-school-material"></span>
                <h3>Academics Principle</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea?
                    Dolore, amet reprehenderit.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <span class="icon flaticon-library"></span>
                <h3>Key of Success</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea?
                    Dolore, amet reprehenderit.
                </p>
            </div>
        </div>
    </div>
</div>




<script>
    var row = document.getElementById("collage");
    row.innerHTML = "";
    fetch("https://localhost:44349/api/Faculties").then(Response => Response.text()).then(html => {
        for (let i = 0; i < JSON.parse(html).length; i++) {
            let J = JSON.parse(html)
            row.innerHTML +=
                //`<div class="course-1-item">
                //<figure class="thumnail">
                //  <a href="course-single.html"><img src='image/${J[i].Faculity_Image}' alt="Image" class="img-fluid"></a>
                //  <div class="category"><h3>${J[i].FaculityName}</h3></div>
                //  </figure>
                //        <div class="course-1-content pb-4" style="height:325px;">
                //            <p class="desc mb-4" style="height:75%;">${J[i].Faculity_Description}</p>
                //   <p><a href='/Majors/Index1/${J[i].FaculityID}' class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                //        </div>
                //    </div>`
                `<div class="col-lg-4 col-md-6 mb-4">
                        <div class="course-1-item">
                            <figure class="thumnail">
                                <a href="course-single.html"><img src='..\\image\\${J[i].Faculity_Image}' alt="Image"  width="100%" height='220px'></a>

                                <div class="category"><h3 style="margin-left:35%">${J[i].FaculityName}</h3></div>
                            </figure>
                            <div class="course-1-content pb-4">
                                <p class="desc mb-4">${J[i].Faculity_Description}</p>
                                <p><a  href='/Majors/Index1/${J[i].FaculityID}' class="btn btn-primary rounded-0 px-4">Enroll In This Faculity</a></p>
                            </div>
                        </div>
                    </div>`

        }

    })



</script>

<!--<script>

    async function read() {
        try {
            const api = "https://localhost:44385/api/Faculties";
            const res = await fetch(api);
            const data = await res.json();

            console.log(data);
            readdata(data);
        } catch (error) {
            console.log(error);
        }
    }
    function readdata(data) {
        for (let i = 0; i < data.length; i++) {

            document.getElementById('collage').innerHTML += `<div class="col-lg-4 col-md-6 mb-4">
                        <div class="course-1-item">
                            <figure class="thumnail">
                                <a href="course-single.html"><img src='..\\image\\${J[i].Faculity_Image}' alt="Image" class="img-fluid" width="100%" height="20%"></a>

                                <div class="category"><h3>${J[i].FaculityName}</h3></div>
                            </figure>
                            <div class="course-1-content pb-4">
                                <p class="desc mb-4">${J[i].Faculity_Description}</p>
                                <p><a  href='/Majors/Index1/${J[i].FaculityID}' class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                            </div>
                        </div>
                    </div>`
        }
    }
    read();
</script>-->
